<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="start">
      <ion-button color="primary" (click)="showMenu()">
        <ion-icon slot="icon-only" name="menu-sharp"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title color="primary">Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      [routerLink]="[c.redirecTo] "
      *ngFor="let c of components | async"
    >
      <ion-icon slot="start" [name]="c.icon" color="primary"></ion-icon>
      {{c.name}}
    </ion-item>
  </ion-list>
</ion-content>
